*{
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-family: sans-serif;
}

h1{
    font-size: 70px; 
 
}

body{
    background-color: black;
}

.container { 
    width: 1400px;
    margin: 0 auto;
    max-width: 100%;
}

.flex-container{
    display: flex;
}

.background{
    background-position: center;
    background-size: cover;
}
